//
   Created by ben.nelson on 2/14/14.

doctype html
html(lang="en", ng-app="ticketpicker")
    head
        title= "Ticket Picker"

        script(type='text/javascript', src='../scripts/viewmodel/baseUI.js')
        script(type='text/javascript', src='../app/bower_components/angular/angular.js')
        script(type='text/javascript', src='../app/bower_components/angular-resource/angular-resource.js')
        script(type='text/javascript', src='../scripts/app.js')
        script(type='text/javascript', src='../scripts/services/database.js')
        script(type='text/javascript', src='../scripts/services/dateService.js')
        script(type='text/javascript', src='../scripts/controllers/controllers.js')
        link(rel='stylesheet', href='style/base.css')
        link(rel='stylesheet', href='../app/bower_components/bootstrap/dist/css/bootstrap.css')
    body.unselectable
       .col-xs-12(ng-controller="main")
           div.col-xs-4
            h1 Users

           div.col-xs-8
            button(type='button', class='close', aria-hidden='true', onclick='quit()').&times
           div.users
            .user(ng-repeat='user in users')
                {{ user.name }}
                button(ng-click="removeUser(user.name)", class="btn btn-danger") Remove User
            .userManagement
            form(name="userInput")
                input(type="text", name="name", ng-model="name", placeholder="Name", required)
                input(type="text", ng-model="lastWin", placeholder="Last Win")
                button(ng-disabled="!userInput.name.$valid" ng-click="addUser({ name: name, lastWin: lastWin })", class="btn btn-primary") Add User
                p
                    small(ng-show="errorMessage") {{ errorMessage }}

