//
   Created by ben.nelson on 2/14/14.

doctype html
html(lang="en", ng-app="ticketpicker")
    head
        title= "Ticket Picker"

        script(type='text/javascript', src='../scripts/viewmodel/baseUI.js')
        script(type='text/javascript', src='../app/bower_components/angular/angular.js')
        script(type='text/javascript', src='../app/bower_components/angular-resource/angular-resource.js')
        script(type='text/javascript', src='../scripts/app.js')
        script(type='text/javascript', src='../scripts/services/database.js')
        script(type='text/javascript', src='../scripts/services/dateService.js')
        script(type='text/javascript', src='../scripts/controllers/controllers.js')
        link(rel='stylesheet', href='style/base.css')
        link(rel='stylesheet', href='../app/bower_components/bootstrap/dist/css/bootstrap.css')
    body.unselectable
       .row(ng-controller="main")
           div.col-xs-6
            h1 Users
            hr
            .row
             .users.col-xs-12
              .user(ng-repeat='user in users')
                .row
                  .col-xs-12
                      {{ user.name }} - {{ user.lastWin }}                
                      button(ng-click="removeUser(user.name)", class="btn btn-danger pull-right margin-right-10") Remove User

           div.col-xs-6      
              .userManagement.row.col-xs-12
                form(name="userInput")
                    input(type="text", name="name", ng-model="name", placeholder="Name", class="form-control" required)
                    input(type="text", ng-model="lastWin", placeholder="Last Win", class="form-control pull")
              .row.col-xs-12
                    button(ng-disabled="!userInput.name.$valid" ng-click="addUser({ name: name, lastWin: lastWin })", class="btn btn-primary pull-right margin-right-10") Add User
                    p
                      small(ng-show="errorMessage") {{ errorMessage }}

