body{
    -webkit-app-region: drag;
    font-family: sans-serif;
}

button{
    -webkit-app-region: no-drag; /*so you can't drag buttons*/
}

.unselectable{
    -webkit-user-select: none;
}

.margin-right-10{
	margin-right: 50px;
}