
<!--
Created by ben.nelson on 2/14/14.

--><!DOCTYPE html>
<html lang="en" ng-app="ticketpicker">
  <head>
    <title>Ticket Picker</title>
    <script type="text/javascript" src="../scripts/viewmodel/baseUI.js"></script>
    <script type="text/javascript" src="../app/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../app/bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="../scripts/app.js"></script>
    <script type="text/javascript" src="../scripts/services/database.js"></script>
    <script type="text/javascript" src="../scripts/services/dateService.js"></script>
    <script type="text/javascript" src="../scripts/controllers/controllers.js"></script>
    <link rel="stylesheet" href="../views/style/base.css">
    <link rel="stylesheet" href="../app/bower_components/bootstrap/dist/css/bootstrap.css">
    <script type="text/ng-template" id="edit_form">
      <form name="editUser">
        <input type="text" name="name" ng-model="user.name" placeholder="Name">
        <input type="text" ng-model="user.lastWin" placeholder="Last Win">
      </form>
      <button ng-click="$parent.editUser($index, { name: user.name, lastWin: user.lastWin })" class="btn">Save</button>
    </script>
  </head>
  <body class="unselectable">
    <div ng-controller="main" class="row">
      <div class="col-xs-6">
        <h1>Users</h1>
        <hr>
        <div class="row">
          <div class="users col-xs-12">
            <div ng-repeat="user in users" class="user">
              <div class="row">
                <div class="col-xs-12">                   <span ng-if="!user.edit" ng-click="applyEdit($index)">{{ user.name }} - {{ user.lastWin }}                </span>
                  <button ng-click="removeUser(user.name)" class="btn btn-danger pull-right margin-right-10">Remove User</button>
                  <div ng-include="'edit_form'" ng-if="user.edit"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">     
        <div class="userManagement row col-xs-12">
          <form name="userInput">
            <input type="text" name="name" ng-model="name" placeholder="Name" required class="form-control">
            <input type="text" ng-model="lastWin" placeholder="Last Win" class="form-control">
          </form>
        </div>
        <div class="row col-xs-12">
          <button ng-disabled="!userInput.name.$valid" ng-click="addUser({ name: name, lastWin: lastWin })" class="btn btn-primary pull-right margin-right-10">Add User</button>
          <p><small ng-show="errorMessage">{{ errorMessage }}</small></p>
        </div>
      </div>
    </div>
  </body>
</html>